{
  "extends": "@antfu",
  "rules": {
    "semi": [
      "warn",
      "always"
    ],
    "@typescript-eslint/semi": [
      "warn",
      "always"
    ],
    "@typescript-eslint/indent": [
      "warn",
      "tab"
    ],
    "indent": [
      "warn",
      "tab"
    ],
    "no-tabs": "off"
  },
  "root": true
}