/*
implicit usage of https://github.com/FirefoxUX/StyleGuide/tree/master/src/styles
*/
/*https://www.flaticon.com/de/kostenloses-icon/star_1828961*/
html,
body {
  width: 100%;
}

.star .starWrap {
  margin: 0;
  padding: 0;
}

.starWrap {
  border-radius: 50%;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  box-sizing: unset;
  text-align: center;
}

.starWrap:hover {
  background-color: #e5e5e5;
}

.star::before {
  /*★*/
  /*https://estelle.github.io/CSS-JS-Entity-Calculator/*/
  content: '\2605';
}

.star {
  color: #ccd6dd;
  cursor: pointer;
  text-align: center;
}

.star:hover,
.star.active {
  color: #ffac33;
}

.windowEntryWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 2em 1fr;
}

a {
  margin: 10px;
  display: inline-block;
}

.windowLink {
  margin: 3px;
  display: inline-block;
  font-size: larger;
}

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.panel {
  margin: 5px;
}

.marginTD {
  margin-top: 5px;
  margin-bottom: 5px;
}

.countDisplay {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
}

.justifyCenter {
  justify-items: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-text {
  padding: 16px;
  align-self: center;
  font-size: 1.385em;
  font-weight: lighter;
}

.highlited {
  background-color: orange
}

.windowLink>p {
  margin-top: 0px;
  margin-bottom: 0px;
}